button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #9fddb1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999999;        }

  button:hover {background-color: #9fddd0}

  button:active {
  background-color:#ffffd7;
  color: #9fddb1;
  box-shadow: 0 2px #bfbfbf52;
  transform: translateY(4px);
  }

  button1 {
  padding: 8px 8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline:#9fddd0;
  border:#9fddd0;
  color: #e9e9a7;
  border-radius: 10px;}  

  button1:hover {
  background-color: #9fddb1;
  border-radius: 10px;}

  body {
  height: 100%;
  background-color: #9fccdd;
  }

  input {
  border-radius: 15px;
  background-position: center bottom;
  background-repeat: repeat;
  padding: 15px 25px;
  width: 200px;
  height: 60px;
  font-size: 24px;
  }

  p {
  font-size: 18px;
  color: #ffffd7;
  }

  p2 {
  font-size: 14px;
  color: #ffffd7;
  }

  h1{
  font-size: 40px;  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffd7;
  }

  h2{
  font-size: 30px;  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffd7;
  }

  h3{
  font-size: 20px;  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffd7;
  }